.back {
  background-image: url("shoes pics/pexels-terrance-barksdale-8278491.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: border-box;
  background-attachment: fixed;
}
.h1 {
  color: white;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px darkred,
    0 0 82px darkred, 0 0 92px darkred, 0 0 102px darkred, 0 0 151px darkred;
}
input:focus {
  border: 1px solid black;
}
